# OS-specific files
.DS_Store
Thumbs.db

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear when using Git in Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python*

# Jupyter Notebook
.ipynb_checkpoints

# Quarto
.quarto/
.lua*